.floating-parent{
  position: fixed;
  bottom: 8%;
  right: 18px;
  text-align: center;
  color: #00778b;
  z-index: 5;
}

.floating-parent .right-button {
  width: 60px;
  height: 60px;
  background: url(../qrcode.PNG);
  border-radius: 50%;
  background-color: #00778b;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  float: right;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0 -2px 3px -1px #00778b;
}

.floating-parent .widgetlabel {
  position: relative;
  right: 5px;
  top: 10px;
  white-space: nowrap;
  border: 0px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 16px;
  padding: 10px 15px 10px 20px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgb(0 18 46 / 24%) 0px 6px 32px 0px;
}